{% extends 'layout.njk' %}

{% block contents %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ image }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">편하게 살고싶은 사람</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mx-auto profile-image">
            <img src="/image/profile.jpeg">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content">
            <div class="profile-content-label">
                <h1>Contact</h1>
                <p>
                    <i class="fas fa-envelope-open-text"></i>
                    <span>janus759@gmail.com</span>
                </p>
                <p>
                    <i class="fab fa-safari"></i>
                    <a href="/">Sowoon</a>
                </p>
                <p>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/so-woon-1221" target="_blank">so-woon-1221</a>
                </p>
                <p>
                    <i class="fab fa-instagram"></i>
                    <a href="https://instagram.com/sowoon_1221" target="_blank">sowoon_1221</a>
                </p>
            </div>

            <div class="profile-content-label">
                <h1>Introduce</h1>
                <p>누구보다 편하게 살기위해 누구보다 노력하는 사람입니다.</p>
                <p>다양한 분야의 흥미와 관심을 녹여내고 싶습니다.</p>
            </div>

            <div class="profile-content-label">
                <h1>Skill</h1>
                <p>Language : C Language / Java</p>
                <p>Back-end : Node.js / Spring / Spring boot</p>
                <p>Front-end : javaScript / React </p>
                <p>DataBase : SQL(MySQL, Oracle) / MongoDB</p>
                <p>Certificate : 정보처리기사 / SQLD</p>
            </div>
            <div class="profile-content-label">
                <h1>Education & Experience</h1>
                <p>2014.03 - 2018.02 숭실대학교 컴퓨터학부 졸업</p>
                <p>2018.03 - 2020.06 26기계화보병여단 운용소대장 전역</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 mx-auto profile-image">
            {# <img src="/image/profile.jpeg"> #}
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content">
            <div class="profile-content-label">
                <h1>Project</h1>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
            <img src="/image/blog.png">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content">
            <div class="profile-content-label">
                <h4>
                    <a href="/category/블로그" target="_blank">
                        BLOG
                    </a>
                    <i class="fas fa-link"></i>
                </h4>
                <div class="row">
                    <div class="col-4">
                        <ul style="padding: 0; list-style: none; margin-top: 15px">
                            <li>Node.js + Nunjuck</li>
                            <li>Mongo DB</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <ul style="padding: 0; list-style: none; margin-top: 15px">
                            <li>AWS Lightsail</li>
                        </ul>
                    </div>
                </div>
                <ul class="dash-list">
                    <li>Node.js를 활용한 Back-end 제작</li>
                    <li>MongoDB로 데이터베이스 구축</li>
                    <li>Bootstrap templates를 이용한 레이아웃 제작</li>
                </ul>
            </div>
        </div>


        {# 프로젝트 컨텐츠 칸############### #}
        <div class="col-lg-5 col-md-5 mx-auto project-image">
            {# <img src="/image/movie.png"> #}
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content">
            <div class="profile-content-label">
                <h4>
                    <a href="/category/HTML과%20CSS" target="_blank">HTML & CSS</a>
                    <i class="fas fa-link"></i>
                </h4>
                <div style="padding-top: 20px">
                    <a href="http://sowoon1221.dothome.co.kr/movie"
                       onClick="window.open(this.href, '', 'width=400, height=600'); return false;">
                        영화소개 페이지(모바일 전용)
                    </a>
                    <i class="fas fa-link" style="color: #4e555b"></i>
                </div>
                <ul style="padding: 0; list-style: none; margin-top: 15px">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JQuery Mobile</li>
                </ul>
                <ul class="dash-list">
                    <li>JQuery를 이용한 모바일 전용 페이지 제작</li>
                    <li>영화진흥위원회 api 활용 영화정보 load</li>
                    <li>카카오 맵 api 활용 현재 위치 확인 및 영화관 검색</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
            <img src="/image/ikea.png">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content">
            <div class="profile-content-label">
                <a href="http://sowoon1221.dothome.co.kr/IKEA" target="_blank">
                    IKEA 페이지
                </a>
                <i class="fas fa-link" style="color: #4e555b"></i>
                <ul style="padding: 0; list-style: none; margin-top: 15px">
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                <ul class="dash-list">
                    <li>IKEA 브랜드 사이트 제작</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
            <img src="/image/samsung.png">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content project-content">
            <div class="profile-content-label">
                <a href="http://sowoon1221.dothome.co.kr/Samsung" target="_blank">
                    삼성전자 페이지
                </a>
                <i class="fas fa-link" style="color: #4e555b"></i>
                <ul style="padding: 0; list-style: none; margin-top: 15px">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                </ul>
                <ul class="dash-list">
                    <li>삼성전자 사이트 카피</li>
                    <li>Bootstrap 활용한 레이아웃 제작</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
            <img src="/image/netflix.png">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content">
            <div class="profile-content-label">
                <a href="http://sowoon1221.dothome.co.kr/Netflix" target="_blank">
                    Netflix 페이지
                </a>
                <i class="fas fa-link" style="color: #4e555b"></i>
                <ul style="padding: 0; list-style: none; margin-top: 15px">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                </ul>
                <ul class="dash-list">
                    <li>Netflix 사이트 카피</li>
                    <li>Bootstrap 활용한 레이아웃 제작</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
            <img src="/image/shoppingmall-mainpage.jpeg">
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content">
            <div class="profile-content-label">
                <h4>
                    <a>
                        Shopping Mall
                    </a>
                    {# <i class="fas fa-link"></i> #}
                </h4>
                <div class="row">
                    <div class="col-6">
                        <ul style="padding: 0; list-style: none; margin-top: 15px">
                            <li>React.js</li>
                            <li>Spring Boot</li>
                            <li>Mongo DB</li>
                        </ul>
                    </div>
                </div>
                <ul class="dash-list">
                    <li>React와 Spring Boot를 활용한 쇼핑몰</li>
                    <li>상품 정보 및 회원 정보는 MongoDB에 저장</li>
                    <li>상품 조회, 검색, 등록 / 회원가입, 로그인 구현</li>
                </ul>
                <a href="https://github.com/so-woon-1221/ShoppingMall" target="_blank">
                    Github
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 mx-auto project-image">
{#            <img src="/image/shoppingmall-mainpage.jpeg">#}
        </div>
        <div class="col-lg-7 col-md-7 mx-auto profile-content project-content" style="border-bottom: none">
            <div class="profile-content-label">
                <h4>
                    <a href="https://so-woon-1221.github.io/ddouni/또우니-논문.pdf" target="_blank">
                        또우니 DDouni
                    </a>
                     <i class="fas fa-link"></i>
                </h4>
                <div class="row">
                    <div class="col-6">
                        <ul style="padding: 0; list-style: none; margin-top: 15px">
                            <li>python</li>
                            <li>Android</li>
                            <li>Firebase</li>
                        </ul>
                    </div>
                </div>
                <ul class="dash-list">
                    <li>아기가 울기 시작하면 이를 인식해 원인을 분석하는 IoT 시스템</li>
                    <li>FFT 알고리즘을 활용한 아기 울음 분석</li>
                    <li>안드로이드 앱을 통한 알림 시스템 구현</li>
                </ul>
{#                <a href="https://github.com/so-woon-1221/ShoppingMall" target="_blank">#}
{#                    Github#}
{#                    <i class="fab fa-github"></i>#}
{#                </a>#}
            </div>
        </div>
    </div>
{% endblock %}