<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sowoon</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    {# <link rel="preconnect" href="https://fonts.gstatic.com"> #}
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/clean-blog.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="google-site-verification" content="ZtZgal8DDd-f0d9y-eec8BNR7QWkJsOThfsfO5f-tVc" />
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Sowoon</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Category</a>
                </li>
                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/editor">Write</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#change-image-modal">Change
                            Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{# 배경사진 교체 모달############ #}
<div id="change-image-modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">배경사진 교체</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <img src="" style="display: none; width: 100%;" id="background-image-preview">
                <label for="background-image" style="cursor: pointer">사진 선택</label>
                <input type="file" accept="image/*" id="background-image" style="display: none">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="change-image" data-dismiss="modal">수정</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


{# 로그인 모달 ################# #}
<div id="login-modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">로그인</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="login-form" action="/auth/login" method="post">
                    <div style="display: flex">
                        <div style="width: 70%">
                            <div style="display: flex; padding: 10px">
                                <label for="name" style="width: 100px">아이디</label>
                                <input id="name" type="text" name="name" required autofocus>
                            </div>
                            <div style="display: flex; padding:10px">
                                <label for="password" style="width: 100px">비밀번호</label>
                                <input id="password" type="password" name="password" required autofocus>
                            </div>
                        </div>
                        <div style="width: 30%; padding:10px">
                            <button type="submit" id="login" style="width: 100%;height: 100%" class="btn btn-primary">
                                로그인
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/changeBackground.js"></script>

{% block contents %}
{% endblock %}

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/so-woon-1221" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com/sowoon_1221" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Made by Sowoon</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/clean-blog.min.js"></script>

<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
            alert(new URL(location.href).searchParams.get('loginError'));
        }
    };
</script>

{% block script %}
{% endblock %}

</body>

</html>
